.post {
    margin-top: 50px;
    padding: 0px 15px;
    width: 400px;
}

@media screen and (max-width: 1617px) {
    .post {
        all: unset;
        display: flex;
    }
    .post_text {
        flex-shrink: 10;
    }
    .post_text p{
        font-size: 20px;
        margin-top: 0px;
        padding-left: 15px;
    }
    .post_image img {
        height: 300px !important;
        width: 450px !important;
    }
}

@media screen and (max-width: 400px) {
    .post_image img {
        width: 270px !important;
    }
}



@media screen and (max-width: 1000px) {
    .post {
        all:unset;
        display: block;
        margin-top: 50px;
        padding: 0px 15px;
    }
    .post_image {
        text-align: center;
    }
    .post_image img {
        height: 300px !important;
    }
}


.post .post_image img {
    height: 250px;
    width: 100%;
    border-radius: 3%;
}

.post .profile_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_post a img {
    border: 2px solid #000;
}

.profile_post a img:hover {
    border: 2px solid #9146ff;
}

.profile_post button {
    all: unset;
    background: #9146ff;
    padding: 5px 10px;
    border-radius: 1px;
}

.profile_post button:hover {
    background: #ac69ff;
}

.post .profile_post a img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.post .post_text {
    display: flex;
    flex-wrap: wrap;
}
