body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 no-repeat center center fixed;
  color: #f0f0ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a:hover {
  color: #9146ff;
  cursor: pointer;
}

NavLink:hover {
  color: #9146ff;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unhandledError {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(145, 70, 255);
}

.unhandledError h3{
  margin-left: 15px;
}

.buttonStyle {
  padding: 3px 15px;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
}

.allocator {
  color: rgb(153, 85, 255);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

