.messages {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.dialog_user {
    text-align: center;
    padding-right: 50px;
}

.messages div img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 2px solid black;
}

.messages p {
    margin-top: 5px;
}

.answer {
    margin-bottom: 30px;
    word-wrap: break-word;
    overflow-x: hidden;
    padding-right: 20px;
}

@media screen and (max-width: 1000px) {
    .messages {
        justify-content: center;
        max-width: 80%;
        margin: 20px auto;
    }
}

